@media (min-width: 992px) {
   .mx-lg-12 {
      margin-left: 12rem !important;
      margin-right: 12rem !important;
   }
}

/* @media (min-width: 768px) {
   .mx-md-6 {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
   }
} */

body {
   background-color: rgb(97, 126, 97);
}

.navbar-yellow {
   background-color: #f8de6c !important;
 }